:root {
    --color-primary:steelblue;
    --color-secondary: #014769;
    --color-secondary--active: #004262;
    --color-tertiary: #861f9e;
    --color-tertiary--active: #6e049e;
}

/* Element Selectors */
body {
    line-height: 1.3;
}

header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: var(--color-primary);
    color: white;
    padding: 1%;
    border-bottom-color: var(--color-secondary);
    border-bottom-style: solid;
    border-width: 5px;
}
    
nav ul {
    display: flex;
    min-width: 300px;
    justify-content: space-between;
    font-size: 100%;
}

nav a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 200%;
}

nav li a:hover {
    color: var(--color-secondary--active);
}

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
}