:root {
    --color-primary:steelblue;
    --color-secondary: #014769;
    --color-secondary--active: #004262;
    --color-tertiary: #861f9e;
    --color-tertiary--active: #6e049e;
}

/* Element Selectors */
body {
    line-height: 1.3;
}

header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: var(--color-primary);
    color: white;
    padding: 1%;
    border-bottom-color: var(--color-secondary);
    border-bottom-style: solid;
    border-width: 5px;
    position: fixed;
    top:0;
    width: 100%;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
    color: var(--color-secondary);
}

main{
    margin: 1%;
}

section {
    margin: 1%;
    /* border-style: solid;
    border-color: red; */
}

/* Class Selectors */

.nav-list {
    display: flex;
    justify-content: space-between;
    font-size: 100%;
}

.nav-item {
    margin: 10px;
}

.nav-item a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.contact-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border-style: solid;
    border-color:black; */
}

.contact-item {
    padding: 10px;
    margin: 5px;
}

.contact-item a {
    text-decoration: none;
    font-size: 100%;
    background-color: var(--color-secondary);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

/* ID Selectors */
/* None */

/* Pseudo-class Selectors */
.nav-list a:hover {
    color: var(--color-secondary--active);
}

.contact-item a:hover {
    background-color: white;
    color: var(--color-secondary);
    border-width: 1px;
    border-color: var(--color-secondary);
    border-style: solid;
    border-radius: 20px;
}


/* Media Queries */

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
}