:root {
    --color-primary:steelblue;
    --color-secondary: #014769;
    --color-tertiary: #861f9e;
}

/* Element Selectors */
body {
    line-height: 1.3;
}

header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: var(--color-primary);
    color: white;
    padding: 1%;
    border-bottom-color: var(--color-secondary);
    border-bottom-style: solid;
    border-width: 5px;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
    color: var(--color-secondary);
}

main{
    margin: 1%;
}

section {
    margin-top: 1%;
    margin-bottom: 1%;
    border-style: solid;
    border-color: var(--color-primary);
    border-radius: 10px;
    padding: 10px;
}

/* Class Selectors */

.nav-list {
    display: flex;
    justify-content: space-between;
    font-size: 100%;
}

.nav-item {
    margin: 10px;
}

.nav-item a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.contact-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-item {
    padding: 10px;
    margin: 5px;
}

.contact-item a {
    text-decoration: none;
    font-size: 100%;
    background-color: var(--color-primary);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.work-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work-item {
    height: 400px;
    width: 600px;
    margin: 20px;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    box-shadow: none;
    transition: box-shadow 0.5s ease;
}

.work-item-title {
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
    background-color: var(--color-primary);
    color:white;
}

/* ID Selectors */

#work-item-1 {
    flex-grow: 2;
    background-image: url(../images/portfolio.jpg);
    background-size: cover;
}

#work-item-2 {
    background-image: url(../images/password-generator.jpg);
    background-size: cover;   
}

#work-item-3 {
    background-image: url(../images/code-quiz.jpg);
    background-size: cover;
}

#work-item-4 {
    background-image: url(../images/day-planner.jpg);
    background-size: cover;
}

#work-item-5 {
    background-image: url(../images/weather-dashboard.jpg);
    background-size: cover;
}

#work-item-6 {
    background-image: url(../images/blog.jpg);
    background-size: cover;
}

/* Pseudo-class Selectors */
.nav-list a:hover {
    color: var(--color-secondary);
}

.work-item:hover {
    box-shadow: 15px 15px 10px var(--color-primary);
}

.contact-item a:hover {
    background-color: white;
    color: var(--color-primary);
    border-width: 1px;
    border-color: var(--color-primary);
    border-style: solid;
    border-radius: 20px;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }

    h2 {
        text-align: center;
    }

    .contact-list {
        flex-direction: column;
        align-items: center;
    }

    .contact-item {
        padding-left: 0;
    }

}